[Unit]
Description=AuthService
After=network.target

[Service]
User=notch
ExecStart=/usr/bin/auth
Environment="PORT=8080"
Environment="HOST=0.0.0.0"
Environment="DATABASE_URL=postgres://postgres:holajorge@localhost:5432/postgres?sslmode=disable"
Environment="PROVISION_KEY=holaJorge@1234"
Environment="ACCESS_TOKEN_EXPIRATION=7200"
Environment="REFRESH_TOKEN_EXPIRATION=1209600"
Environment="AUTH_CODE_EXPIRATION=600"
Environment="ENABLE_CLIENT_CREDENTIALS=true"
Environment="ENABLE_PASSWORD_CREDENTIALS=true"
Environment="ENABLE_AUTHORIZATION_CODE=true"
Environment="ENABLE_PKCE=true"
Environment="PKCE_REQUIRED=false"
Restart=always

[Install]
WantedBy=multi-user.target
